body {
    font-family: 'Segoe UI', sans-serif;
    background: #290050;
}

#title {
    text-align: center;
    font-size: xx-large;
    height: 20%;
}


#logout {
    text-align: center;
}

.splash {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#bottom {
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: column;
}

.session-container {
    margin: auto;
}

.hide {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 270px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 7px;
    align-items: center;
    span {
        color: silver;
    }
    span:hover, button:hover {
        cursor: pointer;
    }
}

.username-login, .password-login {
    padding-left: 16px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px 0;
}

.create-session {
    padding: 7px 10px;
    background: silver;
    border-radius: 7px;
    border: none;
}

.create-session2 {
    padding: 7px 10px;
    background: silver;
    border-radius: 7px;
    border: none;
    margin-top: 17px;
    margin-bottom: 5px;
}

.show {
    padding: 7px 10px;
    background: silver;
    border-radius: 7px;
    border: none;
    margin-top: 17px;
    margin-bottom: 5px;
    width: 300px;
}

.show:hover, .item:hover, #logout:hover, .cart-btn, .item2:hover {
    cursor: pointer;
}

.signup-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 670px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 7px;
    align-items: center;
    span {
        color: silver;
        font-size: small;
    }
    span:hover, button:hover {
        cursor: pointer;
    }
}

.password-input, .password-match {
    padding-left: 16px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px 5px;
}

.username-input {
    padding-left: 16px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px 0;
}

.passbox {
    display: flex;
    flex-direction: row;
}

.equal {
    color: green;
}

.unequal {
    color: red;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid silver;
    background: brown;
    margin: 5px;
    height: 40px;
}

.item2 {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: 1px solid silver;
    background: brown;
    margin: 2px;
    height: 50px;
}

.itemlist {
    display: flex;
    flex-direction: row;
}

.cart-btn {
    position: relative;
}

.sumbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 350px;
    height: 360px;
    background: white;
}

#total {
    text-align: center;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 320px;
    background: white;
    width: 300px;
    overflow: auto;
}

.cart-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
    font-weight: bolder;
}

.errors {
    color: red;
    list-style: none;
    text-align: center;
}